html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    font-family: "Inter",
    sans-serif !important;
}

.boxtriple {
    justify-content: space-between;
}

.boxdouble, .boxone {
    justify-content: flex-start;
    gap: 60px;
}


ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 36px;
}

p {
    font-size: 21px;
}

.dropdown-menu {
    min-width: 9rem !important;

    a {
        &:active {
            background-color: #ffcf00;
        }
    }
}

.navbar-nav {
    a {
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }

}

/* Header start*/

.navBar {
    position: fixed;

    /* margin-top: 45px; */
    padding: 0;
    transition: .5s;
    z-index: 9999;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    nav {
        width: 100%;

        img {
            width: 60%;
        }
    }

    .navbar {
        box-shadow: none;
        transition: 0.5s;

        .icon {
            border: none !important;
            background-color: transparent !important;
            border-radius: 0 !important;
        }

        .dropdown-item {
            font-size: 12px;
        }
    }

    .nav-link {
        color: #777777 !important;
        font-size: 14px !important;
        font-weight: 400 !important;


    }

    .nav-link.active {
        color: #FFCF00 !important;
    }

    .bg-white {
        border-bottom: 1px solid #999;
    }



    .collapse {
        .flag {
            max-width: 30px !important;
        }
    }
}

/* Header end*/

/*Main 시작*/

.YellowBtn {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFCF00;
    color: #222;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.SliderDiv {
    max-height: 100vh;
    width: 100%;
    background-color: #000;

    video {
        max-height: 100vh;
        width: 100%;
    }

    .videoCover {
        background-color: rgba(34, 34, 34, 0.25);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .coverText span{
            font-size: 48px;
            background-color: #ffcf00;
            margin-bottom: 30px;
            padding: 5px 20px;
            color: #222;
            font-weight: bold;
            border-radius: 5px;
        }

        .coverText p {
            font-size: 20px;
            margin-top: 20px;
        }
    }
}

.coverTextWrap {
    height: 100%;
    max-height: 1080px;
}

.coverText {
    bottom: 120px;
    left: 165px;

    h2 {
        color: #fff;
        width: 70%;
        margin-bottom: 50px;
    }

    p {
        color: #fff;

    }
}

.logoBelt {
    width: 100%;
    background-color: #FFCF00;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-items: center;

        li {
            width: 220px;
            display: flex;
            align-items: center;
        }
    }
}

.mainProduct {
    margin: 180px 0;

    h3 {
        color: #2C2B79;
        margin-bottom: 36px;
    }

    p {
        color: #777;
        margin-bottom: 60px;
    }

    .arrowBtn {
        font-size: 32px;
        font-weight: 600;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        line-height: 0.5;
        margin-top: 50px;
    }
}

.mpImage img {
    width: 80%;
}

.mainProject {
    margin-bottom: 100px;
}

.owl-item {
    max-height: 600px;

    img {
        min-height: 480px;
    }
}

.owl-carousel .owl-dots {
    display: block;

    /* 도트 표시 */
}

.owlHover:hover {
    position: relative;

    .owlCover {
        top: 0;
    }
}

.owlCover {
    width: 100%;
    height: 100%;
    background-color: rgba(44, 43, 121, 0.45);
    position: absolute;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 3s;

    h4 {
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
        max-width: 430px;
    }
}

/* 사용자 정의 Owl Carousel 스타일 */

.owl-carousel {
    .owl-dots {
        display: block;

        /* 도트 표시 */
        margin-top: 20px;

        /* 도트의 상단 여백 조정 */
    }

    .owl-dot {
        background-color: #FFA500;

        /* 도트의 배경색 변경 (예: 주황색) */
        width: 15px;

        /* 도트의 가로 크기 조정 */
        height: 15px;

        /* 도트의 세로 크기 조정 */
        margin: 0 5px;

        /* 도트 사이의 간격 조정 */

        &.active {
            background-color: #FFD700;

            /* 활성 도트의 배경색 변경 (예: 금색) */
        }
    }
}

.mainAbout {
    background-image: url(../img/about.jpg);
    background-size: cover;
    min-height: 800px;
    background-position: center;
}

.maYellowBox {
    background-color: rgba(255, 207, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;

    h3 {
        color: #fff;
        width: 80%;
    }

    p {
        color: #222;
        width: 50%;
        font-weight: 900;
    }

    ul {
        display: flex;
        margin-top: 50px;

        li {
            margin-right: 8px;
        }
    }
}

.gds {
    width: 200px;
    top: 20px;
    left: 20px;
}

.mainInstagram {
    padding: 0 5vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .YellowBtn {
        margin-top: 75px;
    }

    .instaContainer {
        justify-content: space-between;
    }
}

.miPost {

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 0 7px;
    padding: 10px 10px;
    border: 2px solid #d9d6d6;

    .overlay {
        display: none!important;
        align-items: center;

        img {
            min-height: 1px!important;
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
        p {
            font-weight: bold;
            font-size: 20px;
            margin-left: 10px;
        }
    }

    p {
        color: #2C2B79;
        font-size: 15px;
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        margin-bottom: 0;
        align-items: center;
        font-weight: 500;

        &:first-child {
            margin: 5px 0;
        }

        img {
            max-width: 30px !important;
            max-height: 30px !important;
            min-height: 30px !important;
            margin-right: 20px;
            border-radius: 0!important;
        }
    }

    img {
        width: 100%;
        max-width: 330px;
        border-radius: 20px;

    }

    .captionText{
        width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 14px;
    }
}

.instaBtn{
    width: 240px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(255,108,171,1) 0%, rgba(167,104,224,1) 52%, rgba(115,102,255,1) 100%);
    color: #fff;
    border: none;
    font-size: 19px;
    font-weight: 600;
}

.mainContact {
    min-height: 800px;
    background-image: url(../img/contact.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.ContactText {
    text-align: center;

    h2 {
        color: #fff;
        letter-spacing: 25px;
    }

    p {
        color: #fff;
        margin: 0 auto;
        padding: 30px 0;
        font-weight: 900;
    }
}

.footer {
    background-color: #FFCF00 !important;
}

/*Main 끝*/

/* 프로젝트 시작*/

.TopDivProject {
    background-image: url(../img/Project.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    height: 600px;
    position: relative;

    .projectCover {
        background-color: rgba(34, 34, 34, 0.25);
        top: 0;
        width: 100%;
        height: 600px;

        .coverText {
            bottom: 50px;

            h2 {
                font-size: 48px;
                margin-bottom: 20px;
            }
            span {
                font-size: 48px;
                background-color: #ffcf00;
                margin-bottom: 30px;
                padding: 5px 20px;
                color: #222;
                font-weight: bold;
                border-radius: 5px;
            }

            p {
                font-size: 20px;
                margin-top: 20px;

            }

        }
    }
}

.projectRowWrap {
    margin-top: 35px;

    .projectRow {
        gap: 60px;
        margin: 50px 0;
        justify-content: center;

        .projectDiv {
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
            gap: 60px;
            margin: 50px 0;

            img {
                width: 100%;
                min-height: 436px;
                //min-width: 400px;
            }

            .projectText {
                padding: 40px 30px;

                h6 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #555;
                }

                h5 {
                    font-size: 22px;
                    font-weight: bold;
                    color: #222;
                }

                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: #555;
                }
            }
        }
    }

}

/* 프로젝트 모달*/

.picBox {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    button {
        border: 1px solid #999;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 20px 0;
    }

    #imageList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        li {
            img {
                width: 100px;
                height: 100px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.dataBox {
    padding: 10px;
    padding-top: 30px;



    div {
        margin-bottom: 10px;


        input {
            width: 75%;
            border: none;
            border-bottom: 1px solid #555;
            padding: 5px 10px;
        }

        label {
            width: 25%;
        }

        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 30px;
            border: 1px solid #555 !important;
        }


    }


}

.btn-primary {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #222 !important;
    font-weight: bold;
}

// .btn-secondary {
//     bac
// }

/* 프로젝트 끝*/

/*프로젝트 디테일 시작*/

.projectDetailWrap {


    .projectDetailTitle {
        margin: 0 auto;
        padding: 100px 0 100px 50px;

        h6 {
            font-size: 24px;
            font-weight: bold;
            color: #555;
        }

        h5 {
            font-size: 48px;
            font-weight: bold;
            color: #222;
            margin: 25px 0 60px 0;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            color: #555;
        }
    }



    .owl-stage-outer {
        height: 700px;
    }

    .owl-carousel .item img {

        /* 이미지 최대 너비를 1200px로 설정 */
        width: 80%;
        /* 너비를 100%로 설정하여 부모 요소에 맞게 조절 */
        height: auto;
        /* 높이 자동 조절 */
        margin: 150px 50px;
    }

    .owl-carousel .owl-item.center img {
        transform: scale(2);
        /* center 클래스를 가진 슬라이드에만 1.2배 확대 스타일 적용 */
        margin: 150px 50px;


    }

    .owl-dots {
        display: flex;
        justify-content: center;

        button {
            border: 1px solid #999;
            border-radius: 100%;
        }
    }

    .owl-dots.disabled {
        display: flex;
    }

    .DetailTextDiv {
        margin: 0 auto;
        margin-top: 100px;
        padding-left: 50px;

        h3 {
            font-size: 48px;
            font-weight: bold;
            color: #222;
            margin: 25px 0 60px 0;
        }


        .DetailUnderDiv {
            background-color: #ddd;
            padding: 50px;

            p {
                color: #777;
                font-size: 18px;
                font-weight: 500;
            }
        }

        a {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 100px;
            margin-left: -50px;
        }

        // .YellowBtn {}
    }
}



/*프로젝트 디테일 끝*/

/*프로덕트 메인 시작*/

.TopDivProduct {
    background-image: url(../img/productTop.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;

    .productCover {
        background-color: rgba(34, 34, 34, 0.25);
        top: 0;
        width: 100%;
        height: 600px;

        .coverText {
            bottom: 50px;

            h2 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;

            }

        }
    }


    .productRowWrap {

        .productText {

            h3 {
                color: #2C2B79;
                font-weight: bold;
                margin-bottom: 40px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                color: #777;
                margin-bottom: 20px;
            }

            li {
                align-items: center;
                margin-right: 30px;

                img {
                    width: 50px;
                    margin-bottom: 10px;
                }

                span {
                    color: #222;
                    font-weight: bold;
                }
            }
        }

        .productMain {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 100px 0;

            /*
            img {
                width: 55%;
                max-height: 600px;
            }
            */
        }
    }

    .productList {
        margin-bottom: 200px;

        ul {
            a {
                border: 2px solid #ffcf00;
                width: 30%;
                padding: 5px 10px;
                margin-bottom: 10px;

                img{
                    width: 100%;
                }

                &:hover {
                    border: 3px solid #FFCF00;
                    filter: grayscale(1);

                    div {
                        z-index: 1 !important;

                        span {
                            color: #222;
                        }
                    }
                }
            }
        }
    }

}


/*프로덕트 메인 끝*/

/*프로덕트 디테일 시작*/

.productDetailWrap {
    display: flex;
    align-items: center;

    .imgdiv {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60%;
            height: 490px;
        }
    }


    .nav-tabs {
        border-bottom: 5px solid #FFCF00;

        .nav-link.active {
            background-color: transparent;
            border: none;
            color: #FFCF00;
            font-weight: bold;
            font-size: 18px;

        }

        .nav-link {
            font-weight: 600;
            font-size: 16px;
            color: #777;
            margin-right: 10px;
        }
    }

    .productDetailText {
        padding: 0 5vw;

        .tab02 {
            display: none;
        }

        h4 {
            font-size: 28px;
            color: #222;
            font-weight: 500;
            margin-bottom: 27px;
        }

        p {
            font-size: 16px;
            color: #222;
            font-weight: 400;
        }

        .listStyle {
            padding: 4% 8%;

            .blur {
                width: 100%;
                height: 50px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 40%;
                    border: 1px solid #ffdf00;
                    border-radius: 20px;
                    background-color: #ffdf00;
                    font-weight: bold;
                    color: #222;
                    font-size: 14px;
                    padding: 2px 0;

                    &:hover {
                        background-color: #fff;
                        border: 1px solid #ffdf00;
                    }
                }
            }

            li {
                list-style: disc;

                p {
                    font-size: 14px;
                    color: #222;
                    font-weight: 900;
                }
            }
        }
    }

    .productList {
        margin-top: 3rem;

        h4 {
            font-size: 24px;
        }

        ul {


            a {
                border: 3px solid #555;
                border-radius: 10px;
                margin-right: 20px;

                &:hover {
                    border: 3px solid #FFCF00;
                    filter: grayscale(1);
                }

                img {
                    width: 100px;
                }
            }
        }
    }
}

/*프로덕트 디테일 끝*/

/* 어바웃 시작*/

.TopDivAbout {
    background-image: url(../img/aboutTop.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;

    .AboutCover {
        background-color: rgba(34, 34, 34, 0.25);
        top: 0;
        width: 100%;
        height: 600px;

        .coverText {
            bottom: 50px;

            h2 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;

            }

        }
    }
}

.aboutRow {
    min-height: 500px;
    align-items: center;
    margin-top: 80px;

    span {
        font-size: 24px;
        color: #555;
        width: 80%;

        span {
            font-size: 48px;
        }
    }

    p {
        font-size: 20px;
        margin-top: 40px;
    }
}

.icondiv {
    margin-top: 80px;
    margin-bottom: 150px;

    .col-10 {
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 150px;
    }

    img {
        width: 120px;
        height: 120px;
        margin-right: 50px;
    }

    .iconbox {

        min-height: 200px;


        h4 {
            font-weight: bold;
            font-size: 32px;
            color: #222;
            margin-bottom: 20px;
        }

        span {
            font-size: 18px;
            color: #777;
        }
    }
}

/* 어바웃 끝 */

/* 컨택트 시작 */

.TopDivContact {
    background-image: url(../img/contactTop.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;
    height: 600px;

    .contactCover {
        background-color: rgba(34, 34, 34, 0.25);
        top: 0;
        width: 100%;
        height: 600px;

        .coverText {
            bottom: 50px;

            h2 {
                font-size: 48px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;

            }

        }
    }
}

.contactFormDiv {

    h3 {
        color: #000;
        margin-bottom: 35px;

        span {
            font-size: inherit;
        }
    }

    p {
        font-size: 18px;
        color: #777;
        margin-bottom: auto;

    }

    input[type="text"] {
        border: none;
        border-bottom: 1px solid #777;
        height: 55px;
        width: 90%;
        padding: 5px 10px;
        margin-bottom: 12px;
    }

    input[type="tel"] {
        border: none;
        border-bottom: 1px solid #777;
        height: 55px;
        width: 90%;
        padding: 5px 10px;
        margin-bottom: 12px;
    }

    input[type="email"] {
        border: none;
        border-bottom: 1px solid #777;
        height: 55px;
        width: 90%;
        padding: 5px 10px;
        margin-bottom: 12px;
    }

    textarea {
        border: none;
        border-bottom: 1px solid #777;
        height: 70px;
        width: 90%;
        padding: 5px 10px;
        resize: none;
    }

    textarea::placeholder {
        padding: 20px 0;
    }

    textarea::-webkit-scrollbar {
        display: none;
    }

    input[type="submit"] {
        border: none;
        background-color: #FFCF00;
        height: 85px;
        width: 90%;
        padding: 5px 10px;
        margin-bottom: 12px;
        margin-top: 30px;
    }

    .upload-box {
        width: 100%;
        height: 100px;
        border: 1px dotted #7777;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        label {
            img {
                margin-right: 10px;
            }
        }
    }
}

.contactRowWrap {

    .infoDiv {
        height: 250px;

        img {
            margin-right: 30px;
        }

        h5 {
            color: #222;
            font-weight: bold;
        }

        span {


            a {
                color: #DD5471;

            }
        }
    }

    .mapDiv {
        margin-bottom: 125px;
    }

    .contactImage {
        background-image: url(../img/contactRight.png);
    }
}

/* 컨택트 끝*/

@media screen and (max-width: 1028px) {}

@media screen and (max-width: 767px) {

    /* 메인 시작 */
    .navbar {
        background-color: #fff;

        a {
            .icon {
                justify-content: flex-start;
            }
        }

        #navbarCollapse {
            margin-top: 200px;
        }
    }

    .SliderDiv {
        margin-top: 75px;
    }

    .coverText {
        bottom: 20px;
        left: 25px;

        h2 {
            font-size: 24px;
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
            margin-top: 0;
            width: 80%;
        }
    }

    .logoBelt {

        min-height: 30px;

        ul {
            width: 100% !important;

            li {
                width: 60px;

                img {
                    width: 100%;
                }
            }

        }

    }

    .mainProduct {
        margin: 50px 0;

        .row {
            >.col-10 {
                flex-direction: column;
                width: 100% !important;


                .mpImage {
                    width: 100% !important;
                }

                .mpText {
                    width: 100% !important;
                    margin-top: 30px;

                    h3 {
                        font-size: 32px;
                    }

                    p {
                        font-size: 16px;
                    }

                    .arrowBtn {
                        width: 100%;
                        float: right;

                        span {
                            font-size: 16px;
                            margin-bottom: 5px;
                        }

                        img {
                            width: 30%;
                        }
                    }
                }

            }
        }
    }

    .owl-item {
        img {
            min-height: 150px;
        }

        .owlCover {

            h4 {
                font-size: 12px;
                margin-bottom: 10px;
            }

            .YellowBtn {
                width: 80px;
                height: 20px;
                border-radius: 5px;
                font-size: 12px;
            }

        }


    }

    .mainAbout {
        min-height: 300px;

        .gds {
            width: 100px;
        }

        .maYellowBox {
            padding-left: 30px;
            width: 60%;

            h3 {
                font-size: 24px;
                margin-top: 100px;
                width: 90%;
            }

            p {
                font-size: 12px;
                width: 90%;
                color: white;

            }

            ul {
                margin: 20px 0;
                flex-wrap: wrap;

                li {
                    max-width: 30px;
                    margin-bottom: 0px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .mainInstagram {
        margin-top: 50px;
        margin-bottom: 50px;

        #instagram-container {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

    }

    .mainContact {
        min-height: 300px;

        .ContactText {
            h2 {
                font-size: 24px;
                letter-spacing: 5px;
            }

            p {
                width: 80%;
                font-size: 12px;
                padding: 20px 0;
            }
        }

        .YellowBtn {
            width: 80px;
            height: 20px;
            border-radius: 5px;
            font-size: 12px;
        }

    }

    .miPost {
        P {
            font-size: 14px;
            margin-top: 15px;
        }
    }

    .footer {
        max-height: 100px;

        >div {
            padding: 0;
            padding-top: 0 !important;
            padding-bottom: 0 !important;

            p {
                font-size: 12px;
                filter: opacity(0.7);
            }

            span {
                font-size: 10px;
            }
        }

        .row>* {
            margin-top: 0;

            img {
                width: 30% !important;
            }
        }
    }

    /* 메인끝*/

}