<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GDS KOREA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/favicon32.png}" rel="icon" type="image/png" sizes="32x32">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/new2.scss}" rel="stylesheet">
    <link th:href="@{/css/new2.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <style>
        .inquiryButton {
            border: none;
            background-color: #FFCF00;
            height: 50px;
            width: 90%;
            padding: 5px 10px;
            margin-bottom: 12px;
            margin-top: 30px;
        }
    </style>
</head>

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Navbar Start -->
<div class="container-fluid navBar bg-transparent">
    <nav class="navbar  navbar-expand-lg  navbar-light py-0 px-4">
        <!-- 로고 클릭 -->
        <a href="/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" th:src="@{/img/gdskorea.png}" alt="Icon">
            </div>
        </a>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <!-- 메인 -->
                <a href="/" class="nav-item nav-link">Home</a>

                <!-- 소개 -->
                <a href="/gds/about" class="nav-item nav-link"
                   style="color: white">About</a>

                <!-- 프로젝트 -->
                <a href="/gds/project" class="nav-item nav-link"
                   style="color: white">Project</a>

                <!-- 프로덕트 -->
                <div class="dropdown">
                    <a class="dropdown-toggle nav-item nav-link" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Product Type
                    </a>
                    <!-- 유저 프로덕트 카테고리 메뉴 -->
                    <ul class="dropdown-menu productCategory" style="display: none;">
                        <li>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle dropdown-item"
                                        data-bs-toggle="userDropdown1"
                                        aria-expanded="false">
                                    LED HOUSE LIGHT
                                </button>
                                <ul class="dropdown-menu ledHouseLightList" id="userDropdown1"
                                    style="display: none; left: 116%; top: -8px;">
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle dropdown-item"
                                        data-bs-toggle="userDropdown2"
                                        aria-expanded="false">
                                    RD PANEL
                                </button>
                                <ul class="dropdown-menu rdPanelList" id="userDropdown2"
                                    style="display: none; left: 116%; top: 0px;">
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle dropdown-item"
                                        data-bs-toggle="userDropdown3"
                                        aria-expanded="false">
                                    DMX SPLITTER
                                </button>
                                <ul class="dropdown-menu dmxSplitterLIst" id="userDropdown3"
                                    style="display: none; left: 116%; top: 0px;">
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle dropdown-item"
                                        data-bs-toggle="userDropdown4"
                                        aria-expanded="false">
                                    DMX CONTROLLER
                                </button>
                                <ul class="dropdown-menu dmxControllerList" id="userDropdown4"
                                    style="display: none; left: 116%; top: 0px;">
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button type="button" class="dropdown-toggle dropdown-item"
                                        data-bs-toggle="userDropdown5"
                                        aria-expanded="false">
                                    THEATRICAL LIGHTING
                                </button>
                                <ul class="dropdown-menu theatricalLightingList" id="userDropdown5"
                                    style="display: none; left: 116%; top: 0px;">
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <a href="/gds/contact" class="nav-item nav-link active"
                   style="color: white">Contact</a> <!-- 문의 -->

                <a href="/gds/download" class="nav-item nav-link">Catalogue</a> <!-- 다운로드 카탈로그 -->

                <a href="#" class=" nav-item nav-link " th:if="${session.auth.equals('admin')}"> <!-- 카테고리 생성 버튼 -->
                    <button class='nav-btn btn btn-primary' data-bs-toggle="modal" data-bs-target="#exampleModal">+
                    </button>
                </a>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><!-- 한글 -->
                    <img th:if="${session.language.equals('Korean')}" class='flag'
                         style='max-width: 30px; margin-right: 5px;' th:src="@{/img/flag_kor.png}"> <!-- 한글 이미지 로고 -->
                    <img th:if="${session.language.equals('English')}" class='flag'
                         style='max-width: 30px; margin-right: 5px;' th:src="@{/img/flag_usa.png}"> <!-- 영어 이미지 로고 -->
                    LANGUAGE
                </a>
                <div class="dropdown-menu rounded-0 m-0"><!-- 영문 -->
                    <a th:href="@{/translate/{language}(language = Korean)/{page}(page=contact)}" class="dropdown-item">
                        <!-- 한글 -->
                        <img class='flag' style='max-width: 30px; margin-right: 5px;' th:src="@{/img/flag_kor.png}">Korean</a>
                    <a th:href="@{/translate/{language}(language = English)/{page}(page=contact)}"
                       class="dropdown-item"><!-- 영문 -->
                        <img class='flag' style='max-width: 30px; margin-right: 5px;' th:src="@{/img/flag_usa.png}">English</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<div class='col-12 TopDivContact w-100 position-relative'>
    <div class='contactCover position-absolute'>
        <div class='coverTextWrap position-relative'>
            <div class='coverText position-absolute col-12'
                 style="word-break: keep-all; word-wrap: break-word; white-space: pre-line;">
                <span>Contact</span>
                <p class='col-4' th:text="${languageData.contactHeadText}" style="margin-top: 20px;"></p>
                <!--<p class='col-4'>궁금한 사항, 문의, 또는 협력 제안이 있으신 경우, 언제든지 저희와 연락 주시기 바랍니다. 당사 전문가가 여러분의 요구사항에 대해 신속하고 전문적으로 답변해 드릴 것입니다. 문의사항이나 협력 가능성이 있다면, 언제든지 연락해 주세요.</p>-->
            </div>
        </div>
    </div>
</div>
<div class='col-12 w-100 contactRowWrap d-flex flex-column align-items-center'>
    <div class='col-12 d-flex align-items-center'>
        <div class='col-6 contactFormDiv'>
            <div class='col-10' style='padding-left: 10%;'>
                <h3 th:text="${languageData.getContactInquiryTitleText()}"></h3>
                <p th:each="contactInquiryText : ${languageData.getContactInquiry()}"
                   th:text="${contactInquiryText} + '.'"></p>
                <form th:action="@{/gds/contact/inquiry}" th:method="post">
                    <input type="text" id="contactor" name="contactor"
                           th:placeholder="${languageData.getContactorPlaceHolder()}" required>
                    <br>
                    <input type="text" id="address" name="address"
                           th:placeholder="${languageData.getAddressPlaceHolder()}" required>
                    <br>
                    <input type="tel" id="phoneNumber" name="phoneNumber"
                           th:placeholder="${languageData.getPhonePlaceHolder()}" required>
                    <br>
                    <input type="email" id="email" name="email" th:placeholder="${languageData.getEmailPlaceHolder()}"
                           required>
                    <br>
                    <textarea id="additionalInfo" name="additionalInfo"
                              th:placeholder="${languageData.getAdditionalInfoPlaceHolder()}"></textarea>
                    <br>
                    <button th:if="${session.language.equals('Korean')}" type="button" onclick="submitContactInquiry()" class="inquiryButton">제출</button>
                    <button th:if="${session.language.equals('English')}" type="button" onclick="submitContactInquiry()" class="inquiryButton">Submit</button>
                </form>
            </div>
        </div>
        <div class='contactImage col-6' style="min-height: 965px;">
            <!--<img th:src="@{/img/contactImg.jpg}" alt="" style='opacity: 0.5;'>-->
        </div>

    </div>
    <div class='col-12 d-flex align-items-center mapandInfo'>
        <div class='col-6 mapDiv'>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.9888771750575!2d127.0345407763203!3d37.29539743962855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5dfa3b6fbcfb%3A0x5c440ef9e0b04f09!2z6rSR6rWQIOyEvO2KuOuftOu5hOymiO2DgOybjA!5e0!3m2!1sko!2skr!4v1701137549639!5m2!1sko!2skr"
                    width="100%" height="800" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class='col-6 infoDiv '>
            <div>
                <h3>
                    <span>GDS Korea </span></h3>
                <div class='d-flex' style='margin-top: 50px;'>
                    <img th:src="@{/img/map.png}" alt="" style='margin-right: 30px; width: 80px; height: 80px;'>
                    <div class="adressDiv">
                        <h5 style='font-weight: bold; font-size: 24px;'>Address</h5>
                        <p th:if="${session.language.equals('English')}" style='margin-top: 0;'>#501 Central Biz Tower
                            260 Changnyong-daero, Yeongtong-Gu
                            Suwon-si, Gyeonggi-do (16229)
                            Rep. of Korea</p>
                        <p th:if="${session.language.equals('Korean')}" style='margin-top: 0;'>경기도 수원시 영통구 창룡대로 260 KR 센트럴 비즈 타워 501호</p>
                    </div>
                </div>
            </div>
            <div class='d-flex infoBox flex-column '>
                <div class='d-flex' style="margin-bottom: 30px">
                    <img th:src="@{/img/contactIcon01.png}" alt="">
                    <div>
                        <h5 th:text="${languageData.getPhone()}"></h5>
                        <span><a href="tel:111-111-1111">+82 (0) 31 8066 7442</a></span>
                    </div>
                </div>
                <div class='d-flex' style="margin-bottom: 30px">
                    <img th:src="@{/img/contactIcon02.png}" alt="">
                    <div>
                        <h5 th:text="${languageData.getEmail()}"></h5>
                        <span><a href="mailto:info@company.com">sales@gds-korea.com</a></span>
                    </div>
                </div>
                <div class='d-flex' style="margin-bottom: 30px">
                    <img th:src="@{/img/contactIcon03.png}" alt="">
                    <div>
                        <h5 th:text="${languageData.getHelpDesk()}"></h5>
                        <span><a href="#">+82 (0)31 8066 7442</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Start -->
<div class="-fluid bg-dark text-white-50 footer  wow fadeIn" data-wow-delay="0.1s">
    <div class=" py-5" style='    width: 90%;
    margin: 0 auto;'>
        <div class="row g-5">
            <div class='d-flex align-items-center'>
                <img th:src="@{/img/gdskorea.png}" alt="" style='margin-right: 64px; width: 120px; height: 60px;'>
                <div>
                    <p style='color:#222; font-weight: bold; font-size: 15px; margin-bottom: 0.4rem; opacity: 0.8;'>
                        sales@gds-korea.com +82 031-8066-7442
                    </p>
                    <!-- sales@gds-korea.com +82 (0) 31 8066 7442 -->
                    <p th:if="${session.language.equals('English')}" style='color:#222; font-weight: bold; font-size: 15px; margin-bottom: 0.4rem; opacity: 0.8;'>
                        #501 Central Biz Tower
                    </p>
                    <p th:if="${session.language.equals('Korean')}" style='color:#222; font-weight: bold; font-size: 15px; margin-bottom: 0.4rem; opacity: 0.8;'>
                        센트럴 비즈 타워 501호
                    </p>
                    <!-- #501 Central Biz Tower -->
                    <p th:if="${session.language.equals('English')}" style='color:#222; font-weight: bold; font-size: 15px; margin-bottom: 0.4rem; opacity: 0.8;'>
                        260 Changnyong-daero, Yeongtong-Gu Suwon-si, Gyeonggi-do (16229)
                    </p>
                    <p th:if="${session.language.equals('Korean')}" style='color:#222; font-weight: bold; font-size: 15px; margin-bottom: 0.4rem; opacity: 0.8;'>
                        경기도 수원시 영통구 창룡대로 260 KR (16229)
                    </p>
                    <!-- 260 Changnyong-daero, Yeongtong-Gu Suwon-si, Gyeonggi-do (16229) -->
                    <p th:if="${session.language.equals('English')}" style='color:#222; font-weight: bold; font-size: 15px; margin-bottom: 0.4rem; opacity: 0.8;'>
                        Rep. of Korea
                    </p>
                    <!-- Rep. of Korea -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" th:aria-labelledby="'exampleModalLabel' + ${session.language}" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/gds/category/add(page='contact')}" th:method="post"
              enctype="application/x-www-form-urlencoded">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 th:if="${session.language.equals('Korean')}" class="modal-title fs-5" th:id="'exampleModalLabel' + ${session.language}">제품 카테고리 등록</h1>
                    <h1 th:if="${session.language.equals('English')}" class="modal-title fs-5" th:id="'exampleModalLabel' + ${session.language}">Product Category Regist</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class='d-flex justify-content-between flex-wrap menuCategory'>
                        <div class='d-flex justify-content-around'>
                            <label th:if="${session.language.equals('Korean')}" class='col-3'>대분류 카테고리</label>
                            <label th:if="${session.language.equals('English')}" class='col-3'>Major category</label>
                            <input type="hidden" id="orgCategory" name="orgCategory">
                            <select class='col-8' onchange="selectCategory(this.value);" style="padding: 5px 10px;">
                                <option th:if="${session.language.equals('Korean')}" value="0">===대분류 카테고리===</option>
                                <option th:if="${session.language.equals('English')}" value="0">===Major category===</option>
                                <option value="1">LED HOUSE LIGHT</option>
                                <option value="2">RD PANEL</option>
                                <option value="3">DMX SPLITTER</option>
                                <option value="4">DMX CONTROLLER</option>
                                <option value="5">THEATRICAL LIGHTING</option>
                            </select>
                        </div>
                        <div class='d-flex justify-content-around'>
                            <label th:if="${session.language.equals('Korean')}" class='col-3'>카테고리</label>
                            <label th:if="${session.language.equals('English')}" class='col-3'>Category</label>
                            <input class='col-8' type="text" name="categoryName" id="categoryName" style="padding: 5px 10px;">
                        </div>
                        <div class='d-flex justify-content-around'>
                            <label th:if="${session.language.equals('Korean')}" class='col-3'>설명 (국문)</label>
                            <label th:if="${session.language.equals('English')}" class='col-3'>Description (KOREAN)</label>
                            <textarea  class='col-8' type="text" name="categoryKorDescription" id="categoryKorDescription" style="height: 150px; resize: none; padding: 5px 10px;"></textarea>
                        </div>
                        <div class='d-flex justify-content-around'>
                            <label th:if="${session.language.equals('Korean')}" class='col-3'>설명 (영문)</label>
                            <label th:if="${session.language.equals('English')}" class='col-3'>Description (ENGLISH)</label>
                            <textarea  class='col-8' type="text" name="categoryEngDescription" id="categoryEngDescription" style="height: 150px; resize: none; padding: 5px 10px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button th:if="${session.language.equals('Korean')}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button th:if="${session.language.equals('English')}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>

                    <button th:if="${session.language.equals('Korean')}" type="submit" class="btn btn-primary">저장</button>
                    <button th:if="${session.language.equals('English')}" type="submit" class="btn btn-primary">SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/gds/login(page='contact')}" th:method="post" class="nav-item nav-link">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">로그인</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class='d-flex justify-content-between flex-wrap menuCategory'>
                        <div class='d-flex justify-content-around'>
                            <label class='col-3'>아이디</label>
                            <input type="text" name="loginId" class="loginId" id="loginId" placeholder="ID">
                        </div>
                        <div class='d-flex justify-content-around'>
                            <label class='col-3'>비밀번호</label>
                            <input type="password" name="loginPwd" class="loginPwd" id="loginPwd"
                                   placeholder="PASSWORD">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary">로그인</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/newContact.js}"></script>

</body>
</html>